<div class="client-form-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="client.firstName" name="firstName" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Фамилия</mat-label>
      <input matInput [(ngModel)]="client.lastName" name="lastName" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Телефон</mat-label>
      <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Логин</mat-label>
      <input matInput [(ngModel)]="client.username" name="username" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Пароль</mat-label>
      <input matInput [(ngModel)]="client.password" name="password" type="password">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Роль</mat-label>
      <input matInput [(ngModel)]="client.role" name="role">
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button color="primary" class="save-btn" type="submit">Сохранить</button>
      <button mat-stroked-button class="cancel-btn" type="button" (click)="onCancel()">Отмена</button>
    </div>
  </form>
</div>
