<div class="top-right">
  <button mat-icon-button (click)="goToLogin()">
    <img src="assets/door.png" alt="Войти" width="32" height="32">
  </button>
</div>
<div class="client-list-container">
  <div class="client-list-header">
    <button mat-raised-button color="primary" class="add-client-btn" (click)="addClient()">Добавить клиента</button>
    <button mat-stroked-button color="accent" class="filter-btn" (click)="showClientsWithMoreThan5Trainings()">
      Клиенты с >5 тренировками
    </button>
  </div>
  <div class="client-table-wrapper">
    <table mat-table [dataSource]="clients" class="mat-elevation-z8">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Имя</th>
        <td mat-cell *matCellDef="let client">{{client.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Фамилия</th>
        <td mat-cell *matCellDef="let client">{{client.lastName}}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Телефон</th>
        <td mat-cell *matCellDef="let client">{{client.phoneNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Логин</th>
        <td mat-cell *matCellDef="let client">{{client.username}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let client">
          <button mat-icon-button color="primary" class="edit-btn" (click)="editClient(client)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="delete-btn" (click)="deleteClient(client)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['firstName','lastName','phoneNumber','username','actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['firstName','lastName','phoneNumber','username','actions'];"></tr>
    </table>
  </div>
</div>
