<div class="client-detail-container">
  <mat-card class="client-detail-card">
    <h2>{{ client.id ? 'Редактировать клиента' : 'Добавить клиента' }}</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Имя</mat-label>
        <input matInput [(ngModel)]="client.firstName" name="firstName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Фамилия</mat-label>
        <input matInput [(ngModel)]="client.lastName" name="lastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Телефон</mat-label>
        <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Логин</mat-label>
        <input matInput [(ngModel)]="client.username" name="username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput [(ngModel)]="client.password" name="password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        {{ client.id ? 'Сохранить' : 'Добавить' }}
      </button>
    </form>
  </mat-card>
</div>
