<div class="top-right">
    <button mat-icon-button (click)="goToLogin()">
      <img src="assets/door.png" alt="Войти" width="32" height="32">
    </button>
    <button mat-icon-button (click)="goToHorses()">
        <img src="/assets/home.png" alt="Horses" width="32" height="32">
    </button>
</div>
<div class="training-list-container">
    <div class="training-list-header">
      <button mat-raised-button color="primary" class="add-training-btn" (click)="goToCreate()">
        Добавить тренировку
      </button>
    </div>
    <div class="training-table-wrapper">
      <table mat-table [dataSource]="trainings" class="mat-elevation-z8">
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef>Клиент</th>
          <td mat-cell *matCellDef="let training">{{training.clientName}}</td>
        </ng-container>
        <ng-container matColumnDef="instructorName">
          <th mat-header-cell *matHeaderCellDef>Инструктор</th>
          <td mat-cell *matCellDef="let training">{{training.instructorName}}</td>
        </ng-container>
        <ng-container matColumnDef="horseName">
          <th mat-header-cell *matHeaderCellDef>Лошадь</th>
          <td mat-cell *matCellDef="let training">{{training.horseName}}</td>
        </ng-container>
        <ng-container matColumnDef="dateTime">
          <th mat-header-cell *matHeaderCellDef>Дата и время</th>
          <td mat-cell *matCellDef="let training">{{training.dateTime | date:'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Продолжительность (мин)</th>
          <td mat-cell *matCellDef="let training">{{training.duration}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Действия</th>
          <td mat-cell *matCellDef="let training">
            <button mat-icon-button color="primary" (click)="editTraining(training)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTraining(training)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['clientName', 'instructorName', 'horseName', 'dateTime', 'duration', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['clientName', 'instructorName', 'horseName', 'dateTime', 'duration', 'actions'];"></tr>
      </table>
    </div>
  </div>