.horse-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: #f5eee6;
}

.horse-form-card {
  padding: 32px 24px;
  background: #fff8f0;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(110, 70, 40, 0.08);
  border: 1px solid #d2b48c;
  min-width: 340px;
}

h2 {
  color: #795548;
  text-align: center;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.save-btn {
  width: 50%;
  margin-top: 5px;
  margin-left: 25%;
}

.save-btn:hover {
  background: #795548;
}
